.calculator{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns:repeat(4,100px) ;
    grid-template-rows:minmax(120px auto)repeat(5,100px);
}
.calculator > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(205, 212, 255);
    outline: none;
    background-color: rgb(146, 28, 236);
    height: 70px;
}
.calculator > button:hover{
    background-color: rgba(206, 154, 255, 0.815);

}
.output{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    grid-column: 1 / -1;
    background-color:rgb(255,202,24);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
.operand1{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
    height: 70px;

}
.operand2{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 30px;
    height: 35px;    
}
.gilaki{
    grid-column: span 2;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
